# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.env
venv/
.venv/

# Application specific
persisted_index/
data_for_rag/document_states.json

# Development environment
.cache/
.vscode/
.idea/

# Operating system
.DS_Store
Thumbs.db
