# Core dependencies
streamlit>=1.45.0
llama-index[llms,embeddings,postprocessor,graph_stores]>=0.10.38
llama-index-llms-groq>=0.3.1
llama-index-embeddings-fastembed>=0.3.2
sentence-transformers>=4.1.0
python-dotenv>=1.0.0
typing-extensions>=4.5.0
pydantic>=2.0.0
loguru>=0.7.0
llama-index-retrievers-bm25
nltk

# Document processing dependencies
python-docx
openpyxl
beautifulsoup4
llama-index-readers-file
python-pptx>=0.6.21
pandas>=1.3.5
pymupdf>=1.23.0
markdown>=3.3.0

# Optional dependencies
# openai-whisper
# assemblyai